video {
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  canvas {
    display: none; /* Hide canvas */
    border: 1px solid #ccc;
  }
  
  img {
    max-width: 100%;
    margin-top: 10px;
  }
